- ifnmg = { "INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG" => 158121,
          "INST.FED.DO NORTE DE MG/CAMPUS MONTES CLAROS" => 158437,
          "INST.FED.DO NORTE DE MG/CAMPUS JANUARIA" => 158378,
          "INST.FED.DO NORTE DE MG/CAMPUS SALINAS" => 158377,
          "INST.FED.DO NORTE DE MG/CAMPUS ARINO" => 158438,
          "INST.FED.DO NORTE DE MG/CAMPUS ALMENARA" => 158439,
          "INST.FED.DO NORTE DE MG/CAMPUS PIRAPORA" => 158440,
          "INST.FED DO NORTE DE MG/CAMPUS ARACUAI" => 158441,
          "INST.FED.DO NORTE DE MG/CAMPUS ARINOS" => 158438 }

= stylesheet_link_tag "pages.scss"

.container
  .row
    .col-md-12
      %h2 
        %span.badge(style="font-size: 35px; background-color: white; color: #000000;")
          %span.glyphicon.glyphicon-user
        = @servidor.nome
      %hr
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %b
            Informações
        .panel-body
          %b
            CPF:
          = @servidor.cpf
          -# = @servidor.id_servidor_portal
          %br
          %b
            Matrícula: 
          = @servidor.matricula
          %br
          %b
            Cargo: 
          = @servidor.descricao_cargo
          %label.label.label-success
            = "classe #{@servidor.classe_cargo} "
          %label.label.label-primary
            = @servidor.jornada_de_trabalho
          %br
          %b
            Lotação: 
          = @servidor.uorg_lotacao
          %br
          -# %b
            -# Jornada de trabalho: 
          -# = @servidor.jornada_de_trabalho
          -# %br
          %b
            Data ingresso (função): 
          = @servidor.data_ingresso_cargofuncao.strftime("%d/%m/%Y")
          %br
          %b
            Data ingresso no Orgão: 
          = @servidor.data_ingresso_orgao.strftime("%d/%m/%Y") # + " - "
          -#= ( ( Date.today - @servidor.data_ingresso_cargofuncao) / 365 ).to_i
        .panel-footer
          .social-share.text-center
            = render "shared/share"
          -# # .container
            -# # %label.label.label-success
              -# # classe
            -# # %label.label.label-primary
              -# # padrão
            -# # %label.label.label-warning
              -# # Jornada de trabalho
    .col-md-8
      .panel.panel-default
        .panel-heading
          %b
            Historico de Remunerações
            %span.badge
              = "#{@servidor.quant_salarios} meses"
            .pull-right
              Valor:
              %span.badge
                = number_to_currency(@servidor.total_salarios, unit: "R$ ", separator: ",", delimiter: ".").to_s
               
        .panel-body
          - FACADE.Remuneracao.select(:ano).distinct.each do |data|
            %a(href="#")
              = data.ano
              %span.badge
                = number_to_currency(@servidor.total_salarios(data.ano), unit: "R$ ", separator: ",", delimiter: ".").to_s
      
      .panel.panel-default
        .panel-heading
          %b
            Pedidos de diária:
            %span.badge
              = @minhas_diarias.all.count
            - geral = 0
            - @minhas_diarias.each do |diaria|
              - geral += diaria.valor.to_f
            .pull-right
              Valor recebido:
              %span.badge
                = number_to_currency(geral,unit: "R$ ", separator: ",", delimiter: ".").to_s
               
        .panel-body
        
          %ul.nav.nav-tabs
            - anos = []
            - @minhas_diarias.each do |diaria|
              -# nav tabs creation
              - ano = diaria.data.year
              - if !anos.include?(ano)
                - anos.push(ano)
                %li
                  %a{:data => {:toggle=>"tab"}, :href=>"#tb#{ano}"}
                    = ano.to_s
                    %span.badge
                      = @minhas_diarias.where("data BETWEEN ? AND ? ", ano.to_s + "-01-01", ano.to_s + "-12-31").count
          
          .tab-content
            - anos.each do |ano|
              %div{ :id => "tb#{ano}", :class=>"tab-pane fade" }
                %table.table.table-hover
                  %thead
                    %tr
                      %th Data
                      %th Valor
                      %th Documento
                      %th Unidade
                      -#%th Link
                      
                  %tbody
                    - total = Hash.new
                    - total[ano] = 0 
                      - @minhas_diarias.each do |diaria|
                        %tr
                          - if (diaria.data.year == ano)
                          - total[ano] += diaria.valor.to_f
                          - id_unidade = ifnmg[diaria.nome_unidade].to_s
                          - link = "http://www.portaltransparencia.gov.br/despesasdiarias/pagamento?documento="+ id_unidade +"26410" + diaria.num_doc
                          %td   
                            = diaria.data.strftime("%d/%m/%Y") 
                          %td
                            = number_to_currency(diaria.valor, unit: "R$ ", separator: ",", delimiter: ".").to_s 
                            -# "R$ #{'%.2f' % diaria.valor}"
                          %td
                            %a{ :href => link, :target =>"_blank", :data => {:toggle => "popover", :trigger =>"hover", :content => "#{diaria.nome_unidade}", :placement =>"right" }, :title => "nº #{diaria.num_doc}" }
                              = diaria.num_doc
                          %td
                            = diaria.nome_unidade
                          -#%td
                          -#  = diaria.num_doc
                          
                    %tr
                      %td(colspan="4")
                  %br      
                  %span.badge
                    = "Total de diárias no ano: " + number_to_currency(total[ano],unit: "R$ ", separator: ",", delimiter: ".").to_s
                  

:javascript
  $('[data-toggle="popover"]').popover();
  