
-# Uma unica view para todoas as Unidades

.container
  .row
    .col-md-12
      .panel
        .panel-body
          %h2
            = unidade.gsub("-", " ").titleize
      
  .row
    .col-md-2
    
      .panel
        .panel-body
          %p
            Servidores
            %span.label.label-success.pull-right
              = @servidores.count
          %p
            Diarias
            %span.label.label-success.pull-right
              = @diarias.count
      
    .col-md-10 
      
      %ul.nav.nav-tabs#itens-unidade
        %li
          %a{ :href => "#u-sevidores", :data => { :toggle => "tab"} }
            Servidores
        %li
          %a{ :href => "#u-stats", :data => { :toggle => "tab"} }
            Distribuíção de cargos
      
      .tab-content
        .tab-pane.fade#u-sevidores
          .panel
            .panel-body#lista
              = render "pages/servidores/lista_servidores", show: :filtered
      
        .tab-pane.fade#u-stats
          .panel
            .panel-body
              .container
                = pie_chart @jornada
              .container
                = pie_chart @cargos
              
              
:javascript
  $(document).ready(function(){
    $first = $('#lista-servidores > :first-child');
    $first.addClass("active");
    id = $first.find("a").attr("href")
    $(id).addClass("active in");
  });

