<nav class="navbar navbar-default">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png", size: "160x90", alt: "meu IFNMG"), root_path, :method => :get,class: "navbar-brand" %>
    </div
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><%= link_to t('home'), root_path,:method => :get, class: "active" %> </li>
          <li><%= link_to "Professores", "#", class: "active" %> </li>
          <li><%= link_to "Materias", "#", class: "active"%></li>
          <li><%= link_to "Aulas", "#", class: "active"%></li>
          
          <li>
          
              <a href="#modalContacts" data-toggle="modal" data-target="#modalContacts">
                Contato
              </a>
          
          </li>
          
          
          
            <!--<li><%= link_to "Professor", "#", class: "active" %></li>-->
            <!--<li><%= link_to "Aluno", "#", class: "active" %></li>-->
            <li><%= link_to "Meu Perfil", "#" ,class: "active" %></li>
            
            <li><%= link_to 'Sair', "#", :method => :delete, class: "active" %> </li>
          

      </ul>
      
      <form class="navbar-form navbar-right" role="search">
        
         <ul class="nav navbar-nav">
         
          
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" style="margin-right: 10px;" type="button" data-toggle="dropdown">
                 <span class="glyphicon glyphicon-user"></span> USER NAME
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Meu Perfil", "#{root_url}meuperfil", class: "active" %></li>
                <!-- if admin -->
                    <li><%= link_to 'Ãrea Administrativa', "#", class: "active" %> </li>
                <!-- end if -->
                <li><%= link_to 'Sair', "#", :method => :delete, class: "active" %> </li>
              </ul>
            </div>
            
            <span>&nbsp;</span><span>&nbsp;</span>
          
         
            <li>
              
              
              
              <button id="btnentrar" type="button"  class="btn btn-primary " style="margin-right: 10px;">
                <span class="glyphicon glyphicon-user"></span> Entrar 
              </button>

                <span></span>
            </li>
          
          
        </ul>
        
        
        
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Pesquisar">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
     
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>