<!DOCTYPE html>
<html>
<head>
<title>meuIFNMG.com</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= javascript_include_tag 'chartkick', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %> -->
    <%= javascript_include_tag "https://code.highcharts.com/highcharts.js" %>

</head>

<body>
    
    <div id="page">
        <%= render 'shared/navbar' %>
        
        <div class = "content">
        	<div class="row">
        		<div class = "col-md-2">
	        		<%= render file:  'shared/left' %>
	        	</div>
	        	<div class="col-md-6">
	        		<% flash.each do |name, msg| %>
		                <%= content_tag(:div, msg, class: "alert alert-info") %>
		            <% end %>
		            <%= yield %>
	        	</div>
        	</div>
        </div>
        <%= render 'shared/footer' %>
        <%= render 'shared/modal' %>
        
        <%= yield :header %> <!-- js files --->
        <%= yield :charts_js %> 
    </div>
</body>
</html>
