-# = render 'shared/image_slide'
        
.container
  -# %h2
    -# SEÇÃO CENTRAL 
  .row#stats
    = render "pages/index/stats"

  .row
    .col-md-8.col-sm-12
      -# = render 'shared/tables/slide_tables'
      = render 'shared/tables/diarias_servidor'
      = render 'shared/tables/diarias_unidade'
            
    .col-md-4.col-sm-6
      = render 'shared/boxmap'
    .col-md-4.col-sm-6
      = render 'shared/slide_motivos'
      
      -# = render "shared/rss/reitoria"
  
  .row
    .col-md-4.text-justify
      .panel
        .panel-body
          %h2 
            = icon("expand") 
            Unidades
          %p texto texto texto texto texto texto texto texto texto texto texto texto texto texto
          %p
            %a.btn.btn-default{ :href=>"#"}
              link para »
            
    .col-md-4.text-justify
      .panel
        .panel-body
          %h2
            = icon("expand") 
            Servidores
          %p texto texto texto texto texto texto texto texto texto texto texto texto texto texto
          %p
            %a.btn.btn-default{ :href=>"#"}
              link para »
          
    .col-md-4.text-justify
      .panel
        .panel-body
          %h2
            = icon("expand") 
            Diarias
          %p 
            Você sabe o que são Diárias? 
            clique aqui e descubra o que elas são, quanto custam e para que servem...
          %p
            %a.btn.btn-default{ :href=>"/diarias"}
              Saiba mais »
          

:javascript
  $(document).ready(function() { 
    $("#tbtop-servidores").tablesorter(); 
  }); 