-# require 'business'
.container
  .row
    .col-md-12
      
      %h2
        = image_tag("flat-icons/business/svg/team", size: "100x60")
        Servidores
      %hr
  .row
    .col-md-6.col-sm-3
   
      -# = render 'pages/servidores/pagination'
      .container.centered
        %ul.nav.nav-tabs#lista-servidores
          - for i in "A".."Z"
            %li
              %a{ :href => "##{i}", :data => { :toggle => "tab"} }
                = i
                %span.badge
                  = FACADE.Servidor.select(:nome).where("nome LIKE ?", i+"%").count
      
      .tab-content
        - for i in "A".."Z"
          .tab-pane.fade{ :id => "#{i}"}
            %table.table.table-hover
              %thead
                %tr
                  %th Nome do servidor
              %tbody
                - @servidores.where("nome LIKE ?", i+"%").each do |s|
                  %tr
                    %td
                      %a{ :href => root_url + "servidor/" + s.id.to_s} 
                        = s.nome
                      -#%span.badge
                        -#- @servidor = FACADE.Servidor.find(s.id)
                        -#- @minhas_diarias = FACADE.Diaria.where("NOME = ?", @servidor.nome)
                        -#= @minhas_diarias.all.count
                      %br
              
%script{:type=>"text/javascript"}
  $('#A').addClass("active in");
  $('#lista-servidores > :first-child').addClass("active");
